<div class="row border-bottom" class="card mb-3">
<div  class="col-9">
    <h5 class="card-title">{{ vaga.titulo }}</h5>
    <p class="card-text">{{ vaga.descricao }}</p>
    <p class="card-text"><strong>Localização:</strong> {{ vaga.localizacao }}</p>
    <p class="card-text"><strong>Salário:</strong> {{ vaga.salario }}</p>
</div>
<div class="col-3" style="display: flex; align-items: center; justify-content: center;">
<button type="button" class="btn btn-primary">Candidatar-se</button>
</div>  
</div>