<!DOCTYPE html>
<html lang="br-pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/estilo/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>HomePage</title>
</head>
<body>
    <div class="container">
    <h1 class="text-center mt-2 mb-2">Carreiras em python</h1>
    <img class="img-fluid" src="{{url_for('static',filename='imagem/carreira.jpg')}}">
    <h2>Sobre o Site</h2>
    <p>Bem-vindo ao nosso site! Aqui você encontra informações sobre carreiras em Python.</p>
    <h2 class="text-center mt-2">Vagas abertas</h2>
    <p class="lead">
        {% for vaga in vagas %}
            {% include 'includes/vagas_item.html' %}
        {% endfor %}
    </p>
    <div class="text-center">
         <button class="btn btn-primary">Entrar em contato</button>
    </div>
    </div>
   
</body>
</html> 